@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: #fff;
  z-index: -2;
  position: relative;
  text-transform: uppercase;
  line-height: 1.7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 85vh;
}

h1 {
  color: white;
}

h2 {
  margin: 20px 0;
}

.heading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 15vh;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.player-numbers {
  margin: 20px 0;
}

.player-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.player-form input {
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 10px;
  margin: 8px 0;
  outline: none;
  text-transform: uppercase;
}

.btn--start {
  margin: 20px 0;
}

#game-screen {
  display: none;
  justify-content: center;
  height: 100%;
}

.settings div {
  padding-bottom: 60px;
}


canvas {
  z-index: 100;
  border: 3px solid white;
}

.btn {
  z-index: 3;
  border: 3px solid white;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 30px;
  text-transform: uppercase;
  outline: none;
}
